@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --color-primario: #F8EDE3;
    --color-secundario: #8D493A;
    --color-terciario: #D0B8A8;
    
    --fuente-ubuntu:"Ubuntu", sans-serif;
    --fuente-quicksand: "Quicksand", sans-serif;
}

* {
    padding: 0%;
    margin: 0%;
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.icono__h1{
    position: relative;
    left: 4rem;
    top: 2rem;
    height: auto;
    width: 5%;
}
.encriptador{
    display: flex;
    align-items: center;
}

.lado__izquierdo{
    display: flex;
    flex-direction: column;
    padding: 0 23%;
}

.solo__espacio{
    display: flex;
    flex-direction: column;
    gap: 500px;
}

#caja__texto{
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    overflow: auto;
    resize: none;
}

.advertencia{
    font-size: 1rem;
    display: flex;
    gap: 8px;
    align-items: center;
}

.imagen__exclamacion{
    height: auto;
    width: 4%;
}

.botones{
    color: var(--color-secundario);
    border-radius: 1.5rem;
    font-weight: bold;
    display: flex;
    gap: 24px;
}

.encriptar:hover,
.desencriptar:hover,
.copiar:hover {
    background-color: var(--color-secundario);
    color: var(--color-primario);
}

.encriptar,
.desencriptar,
.copiar {
    width: 100%;
    background-color: var(--color-terciario);
    color: var(--color-secundario);
    border-radius: 24px;
    padding: 1.34rem 0;
    font-weight: bold;
}
.copiar {
    align-self: center;
    margin: 5%;
    width: 60%;
    position: absolute;
    bottom: 1rem;
}

.rectangulo{
    box-sizing: content-box;
    position: relative;
    top: 2rem;
}

.texto-encriptado {
    padding: 2rem 0;
}

.lupita{
    height: auto;
    width: 100%;
}

.lado__derecho{
    background-color: var(--color-terciario);
    height: 40rem;
    width: 23rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    gap: 2rem;
    position: relative;
    top: 1.5rem;
    right: 2rem;
}

.no__encontrado {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
    justify-items: center;
}

.ningun__mensaje {
    font-weight: bold;
    font-size: 1.875rem;
}

textarea:focus {
    outline: none;
    border-color: var(--color-secundario);
}

.footer{
    background-color: var(--color-secundario);
    color: var(--color-primario);
    padding: 1.3rem;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media (max-width: 768px) and (max-height: 1174px) {
    .encriptador{
        flex-direction: column;
        justify-content: center;
    }
    .solo__espacio{
        gap: 12rem;
    }
    #caja__texto{
        font-size: 1.3rem;
    }
    .lupita {
        display: none;
    }
    .lado__derecho {
        width: 400px;
        height: 133px;
        position: relative;
        left: 3px;

    }

}

@media (max-width: 768px) and (min-height: 1175px) and (max-height: 1384px) {
    .lupita {
        display: none;
    }
}
@media (max-width: 375px) and (max-height: 933px) {
    .lupita {
        display: none;
    }
}

@media (max-width: 375px) and (min-height: 934px) and (max-height: 1715px) {
    .lupita {
        display: none;
    }
}